<h1>Choose your flight</h1><br>
<%= form_with(model: @flight, url: flights_path, method: :get) do |form| %>
  <%= form.label :departure_airport_id, "Departure airport" %>
  <%= form.select :departure_airport_id, options_from_collection_for_select(Airport.all, "id", "code"), prompt: "Select departure airport" %><br>
  <%= form.label :arrival_airport_id, "Arrival airport" %>
  <%= form.select :arrival_airport_id, options_from_collection_for_select(Airport.all, "id", "code"), prompt: "Select arrival airport" %><br>
  <%= form.label :num_passengers, "Number of passengers" %>
  <%= form.select :num_passengers, options_for_select([1, 2, 3, 4]), prompt: "Select number of passengers" %><br>
  <%= form.label :departure_date, "Departure date" %>
  <%= form.select :departure_date, options_for_select(@available_dates.map { |date| [date, date] }), prompt: "Select departure date" %> <br>

  <%= form.submit "Search" %>
<% end %>

<h2>Flight Results</h2>
<%= form_with(url: new_booking_path, method: :get) do |form| %>
  <% if @available_flights.any? %>
    <% @available_flights.each do |flight| %>
      <%= form.radio_button :flight_id, flight.id %>
      <%= flight.departure_airport.code %> - <%= flight.arrival_airport.code %> (Departure Time: <%= flight.start.strftime("%m/%d/%Y %I:%M %p") %>)<br>
    <% end %>
  <% else %>
    <p>No flights available.</p>
  <% end %>
  <%= form.hidden_field :num_passengers, value: @num_passengers %>
  <%= form.submit "Select Flight" %>
<% end %>







